# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
.ipynb

# Environments
.env
.env.*
venv/
env/
.venv/

# IDE settings
.vscode/
.idea/

# System files
.DS_Store

# Docker
*.tar
*.img

# Secrets and logs
*.key
*.pem
*.sqlite3
*.log
secrets.json